@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}
body {
  max-width: 425px;
  margin: 0;
}
.GRADIENTTEST {
  /* background: rgb(238, 9, 121);
  background: linear-gradient(
    270deg,
    rgba(238, 9, 121, 1) 0%,
    rgba(255, 106, 0, 1) 100%
  ); */
  color: transparent;
  -webkit-background-clip: text;
  --tw-gradient-to: #ff6a00;
  --tw-gradient-from: #ee0979;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
